*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    
    background: linear-gradient(0deg,#fff 50%, #2196F3);
}

.mainBody{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*start navigation bar*/
.back{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 30px;
    left: 30px;
    line-height: 30px;
    font-size: 30px;
}

.back:hover{
    
    font-size: 40px;
}
/*end navigation bar*/

/*start page contant*/
.card-container{
    position: relative; 
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}

.card-container .card .imgbx{
    position: relative;
    left: 25px;
    width: 500px;
    height: 400px;
    z-index: 1;
    
}



.card-container .card .imgbx img{
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.card-container .card .contentbx{
    position: relative;
    right: 25px;
    width: 500px;
    height: 400px;
    background: #000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;


}

.card-container .card .contentbx:before{
    content: "";
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #000;
    z-index: -1;
}

.card-container .card .contentbx h2{
    font-size: 30px;
    color: #fff;

}


.card-container .card .contentbx p{
    margin-top: 10px;
    color: #fff;
    
}

.card-container .card .contentbx a{
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
    
    position: relative;
}

.card-container .card .contentbx a::before, .card-container .card .contentbx a::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: black;
    transform: skewX(50deg);
    transition: .4s linear;
}

.card-container .card .contentbx a::before{
    top: -4px;
    left: 10%;
}

.card-container .card .contentbx a::after{
    bottom: -4px;
    right: 10%;
}

.card-container .card .contentbx a:hover::before{
    left: 80%;
}

.card-container .card .contentbx a:hover::after{
    right: 80%;
}
/*end page contant*/

/*start footer*/
footer{
    background: #f1f1f1;
    padding: 90px 0;
}

.footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.footer-logo{
    width: 180px;
}

.social-media{
    margin: 20px 0;
}

.social-media a{
    margin-right: 25px;    
}

.right-col h1{
    font-size: 33px;

}

.border{
    width: 100px;
    height: 4px;
    background: #fc5c65;
}

.newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
}

.btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #fc5c65;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity 0.3s linear;
}

.btn:hover{
    opacity: .7;
}

.right-col p{
    margin: 20px 0;
}

/*start socail button animation*/
.social-media{
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.socialBtn{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    margin: 0;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #fc5c65;
    overflow: hidden;
    position: relative;
}

.socialBtn i{
    line-height: 50px;
    font-size: 20px;
    transition: 0.2s linear;
}

.socialBtn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}

.socialBtn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #fc5c65;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.socialBtn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa{
    0%{
        left: -110%;
        top: -90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        top: -10%;
        left: -10%;
    }
}
.rights-text a{
    text-decoration: none;
}
.pageEditor{
    font-size: 15px;
    color: #fc5c65;
    font-weight: bold;
    text-transform: uppercase;
}
/*end socail button animation*/
/*end footer*/